<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Todo-Lists Table</h4>
                        <p class="card-category"> All Todo-Lists </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>

                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Tasks
                                    </th>
                                    <th>
                                        Created At
                                    </th>
                                    <th>
                                        Due Date
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of todolists;let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{row.title}}
                                        </td>
                                        <td>

                                            {{row.tasks.length}}
                                        </td>
                                        <td>
                                            {{row.createdAt | date: 'dd/MM/yyyy'}}
                                        </td>
                                        <td class=" text-warning">
                                            {{row.dueDate | date: 'dd/MM/yyyy'}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>