<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">{{ toDoList.title }}</h4>
            <p class="card-category"> {{ toDoList.description }} </p>
        </div>

        <div class="card-body">
            <button class="btn btn-info btn-sm" (click)="openCreateTaskModal()">
                <i class="material-icons">add_circle</i>
                Add Task
            </button>
            <button class="btn btn-danger btn-sm" (click)="close()">
                <i class="material-icons">close</i>
                close todo-list
            </button>
            <div class="table-responsive" *ngIf="toDoList.tasks.length > 0">

                <table class="table">
                    <thead class=" text-primary">
                        <th>

                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of toDoList.tasks; let i = index" [formGroup]="taskForms[i]">
                            <td>{{ i + 1 }}</td>

                            <td *ngIf="editIndex !== i">
                                {{ row.title }}
                            </td>
                            <td *ngIf="editIndex === i">
                                <mat-form-field>
                                    <input matInput type="text" formControlName="title">
                                </mat-form-field>
                            </td>

                            <td *ngIf="editIndex !== i"
                                [ngClass]="{'text-danger': row.priority === 'high', 'text-warning': row.priority === 'normal', 'text-success': row.priority === 'low'}">
                                {{ row.priority | titlecase }}
                            </td>
                            <td *ngIf="editIndex === i">
                                <mat-form-field>
                                    <select matNativeControl formControlName="priority">
                                        <option [value]="'high'" [selected]="row.priority === 'high'">High</option>
                                        <option [value]="'normal'" [selected]="row.priority === 'normal'">Normal
                                        </option>
                                        <option [value]="'low'" [selected]="row.priority === 'low'">Low</option>
                                    </select>
                                </mat-form-field>

                            </td>

                            <td *ngIf="editIndex !== i"
                                [ngClass]="{'text-warning': row.status === 'pending', 'text-success': row.status === 'completed'}">
                                {{ row.status | titlecase }}
                            </td>
                            <td *ngIf="editIndex === i">
                                <mat-form-field>
                                    <select matNativeControl formControlName="status">
                                        <option [value]="'pending'" [selected]="row.status === 'pending'">Pending
                                        </option>
                                        <option [value]="'completed'" [selected]="row.status === 'completed'">Completed
                                        </option>
                                    </select>
                                </mat-form-field>

                            </td>

                            <td>
                                <button *ngIf="editIndex !== i" class="btn btn-info btn-sm" (click)="editMode(i)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button *ngIf="editIndex === i" class="btn btn-info btn-sm"
                                    (click)="editTask(row._id, i)">
                                    <i class="material-icons">done</i>
                                </button>
                                <button *ngIf="editIndex === i" class="btn btn-warning btn-sm" (click)="cancelEdit(i)">
                                    <i class="material-icons">cancel</i>
                                </button>
                                <button class="btn btn-danger btn-sm" (click)="deleteTask(row._id)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>