<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{ toDoList.title }}</h4>
                        <p class="card-category"> All Todo-Lists </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>

                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of toDoList.tasks;let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{row.title}}
                                        </td>
                                        <td>
                                            {{row.priority}}
                                        </td>
                                        <td>
                                            {{row.status}}
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-sm" (click)="deleteTodoList(row._id)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <button class="btn btn-info btn-sm" (click)="editTodoList(row._id)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>