<form class="example-form" [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <input matInput disabled value="Create new Task">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td><mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field></td>
            <td></td>
        </tr>
    </table>

    <p>
        <select matNativeControl formControlName="priority">
            <option value="">Select Priority</option>
            <option *ngFor="let priority of priorities" [value]="priority">
                {{ priority | titlecase }}
            </option>
        </select>
    </p>
    <div style="text-align: center;">
        <button mat-raised-button color="warn" type="submit">Submit</button>
    </div>
</form>