<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">checklist</i>
                        </div>
                        <p class="card-category">Total To-Do Lists</p>
                        <h3 class="card-title">{{ todoListsStats.totalToDoLists }}
                            <small>Total</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">arrow_back</i>
                            <a [routerLink]="['table-list']">Check out your To-Do Lists</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Overdue To-Do Lists</p>
                        <h3 class="card-title">{{ todoListsStats.overdueToDoLists }}</h3>
                    </div>
                    <div class="card-footer" *ngIf="todoListsStats.overdueToDoLists > 0; else noOverdue">
                        <div class="stats">
                            <i class="material-icons">warning</i> You have overdue To-Do Lists
                        </div>
                    </div>
                    <ng-template #noOverdue>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">sentiment_satisfied</i> Good job! No overdue To-Do Lists
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <p class="card-category">Total Completed Tasks</p>
                        <h3 class="card-title">{{ taskStats.totalCompleted }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">check</i> Completed tasks
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pending_actions</i>
                        </div>
                        <p class="card-category">Pending tasks</p>
                        <h3 class="card-title">{{ taskStats.totalPending }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">pending_actions</i> Pending tasks
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="pieChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tasks priority distribution</h4>
                        <p class="card-category">
                            Tasks priority distribution: High, Normal, Low
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="toDoListsStatusChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">To-Do Lists status distribution</h4>
                        <p class="card-category">Total and Overdue To-Do Lists</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="toDoListsCount"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Count of To-Do Lists the past week</h4>
                        <p class="card-category">To-Do Lists per day for the past week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>